input[type=checkbox]{
  width: 17px;
  height: 17px;
  cursor: pointer;
}

input[type=checkbox].round {
  -webkit-appearance: none; /* Remove default appearance */
  -moz-appearance: none;
  appearance: none;
  width: 20px; /* Adjust size as needed */
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc; /* Border color */
}
input[type=checkbox].round:checked {
  background-color: #2196F3; /* Change background color when checked */
}

.td-s{
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  text-align: center;
}

.td-m{
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  text-align: center;
}

header{
  max-height: 45px;
  overflow: hidden;
}

.layout-children, .layout{
  width: 100%;
  padding-top: 45px;
}

.layout .vh-100, .layout-children .vh-100{
  height: calc(100vh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
}

.min-container{
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

table strong{
  display: none;
}

.no-input-appearance::-webkit-outer-spin-button,
.no-input-appearance::-webkit-inner-spin-button, 
.no-input-appearance{
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.z-index-1{
  z-index: 9999;
}

.dropstart .dropdown-menu li button{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fav-btn{
  background-color: transparent !important;
  padding: 0 !important;
}

.fav-btn:hover{
  background-color: gray !important;
}

@media screen and (max-width:1200px){
  .container {
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width:992px){
  .modal-content{
    height: 88vh;
  }
}

@media screen and (max-width:767px) {
  table thead{
    display: none;
  }

  table tr, table td{
    display: block;
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  table tr{
    border: 1px solid lightgray;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 0 !important;
  }
  
  table td{
    border: none;
  }

  table strong{
    margin-right: 15px;
    display: inline-block;
  }

  table .menu{
    position: absolute;
  }

  .w-md-100{
    width: 100% !important;
  }
}

@media screen and (max-width:575px){
  .hide-sm, .hide-sm.d-flex, .hide-sm.d-block {
    display: none !important;
  }

  .w-sm-100{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}